<%- include('../partials/header') %>


  <h1><%=title%></h1>

  <img class="aboutpic" src="images/about.jpeg" alt="My picture" style="width:375px;height:500px;">
         
      <p class="abouttext">My name is Vaughn Nguyen and I am from Olympia, Washington I wanted to get into tech because my love for technology.<br> In the future, I want to be able to read and write code naturally.<br>I am currently finishing up learning and development with a program called Year Up at Seattle Central College.<br></p>    

<%- include('../partials/footer') %>