 <%- include('../partials/header') %>
  <h1><%=title%></h1>
  <style>

    .social-icon__item {
      display: inline-block;
    }

    .social-icon__item {
      font-size: 24px; /* Adjust the size as needed */
      margin-right: 10px; /* Add spacing between the icons */
    }
    
  </style>
  
      <p class="contacttext">Heres my GitHub with projects and LinkedIn to contact me!</p>    
<ul class="social-icon">
            <li class="social-icon__item"><a class="social-icon__link" href="https://github.com/VaughnNguyen23" >
                <ion-icon name="logo-github"></ion-icon>
            </a></li>
            <li class="social-icon__item"><a class="social-icon__link" href="https://www.linkedin.com/in/vaughn-nguyen-5a4b47271/">
                <ion-icon name="logo-linkedin"></ion-icon>
            </a></li>
        </ul>
   <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<%- include('../partials/footer') %>