<%- include('../partials/header') %>


  <h1><%=title%></h1>

      <p class="factstext">I love skate.<br><br>I like to go on hikes.

<br><br>I like cars.

<br><br>I enjoy playing basketball.

<br><br>I like computers.

<br><br>I like to have fun with friends.

<br><br>I enjoy travelling.</p>    
      
<%- include('../partials/footer') %>