<%- include('../partials/header') %>


  <h1><%=title%></h1>

  <img class="projectspic" src="images/projects.png" alt="My projects" style="width:800px;height:450px;">
  
      <p class="projectstext">On this page, is a picture of the website we built to keep track of projects</p>    

<%- include('../partials/footer') %>